/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'High Tower Text';
	font-size:10px;
	line-height: 20px;
}

@media (min-width:768px) {
	body {
		font-size: 20px;
	}
}

@media (max-width:767px) {
	h2 {
		margin: 0px;
		font-weight: bold;
		font-size: 16px;
	}

	h3 {
		margin: 6px;
		font-size: 14px;
	}
}

a {
	outline: 0 !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
}

	input:hover,
	select:hover {
		background-color: #eeeeee;
	}

p {
	padding: 0px;
	margin: 0px;
}

.blockCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.imageThumb {
	max-width: 180px;
	width: 80%;
	clear: both;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.productCell {
	width: 20%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.rainbow {
	-webkit-animation: color-change 1s infinite;
	-moz-animation: color-change 1s infinite;
	-o-animation: color-change 1s infinite;
	-ms-animation: color-change 1s infinite;
	animation: color-change 1s infinite;
	text-transform: uppercase;
}

@-webkit-keyframes color-change {
	0% {
		color: red;
	}

	50% {
		color: blue;
	}

	100% {
		color: red;
	}
}

@-moz-keyframes color-change {
	0% {
		color: red;
	}

	50% {
		color: blue;
	}

	100% {
		color: red;
	}
}

@-ms-keyframes color-change {
	0% {
		color: red;
	}

	50% {
		color: blue;
	}

	100% {
		color: red;
	}
}

@-o-keyframes color-change {
	0% {
		color: red;
	}

	50% {
		color: blue;
	}

	100% {
		color: red;
	}
}

@keyframes color-change {
	0% {
		color: red;
	}

	50% {
		color: blue;
	}

	100% {
		color: red;
	}
}