<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChimLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChimLib.Properties.Settings>
            <setting name="ChimaeraArchiveString" serializeAs="String">
                <value>Data Source=chimaera.clwrghavmikk.us-west-2.rds.amazonaws.com,1433;Initial Catalog=ChimaeraArt;Persist Security Info=True;User ID=ChimaeraArchivist;Password=^%eM&amp;[($)2yZwvzF;MultiSubnetFailover=True;Encrypt=True;TrustServerCertificate=True;</value>
            </setting>
        </ChimLib.Properties.Settings>
    </applicationSettings>
</configuration>